.main {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.bg-image {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.content {
    position: relative;
    width: 100%;
    z-index: 1;
}